:root body {
	--line-width: min(51em, calc(100vw - 2em));
	--line-width-adaptive: min(51em, calc(100vw - 2em));
	--file-line-width: min(51em, calc(100vw - 2em));
	--sidebar-width-right: min(22em, 80vw);
	--sidebar-width-left: min(22em, 80vw);
}
body {
	--zoom-factor: 1 !important;
	--accent-h: 30 !important;
	--accent-s: 2% !important;
	--accent-l: 36% !important;
	--font-interface-override: "Adwaita Sans Text" !important;
	--font-text-size: 19px !important;
	--indent-size: 4 !important;
	--cmdr-spacing: 4px !important;
	--at-button-height: 52px !important;
	--at-button-width: 52px !important;
	--at-row-count: 1 !important;
	--at-spacing: 0px !important;
	--at-offset: 8px;
}
